.will-stick {
  position: sticky;
  top: var(--sticky-headers-top);
  z-index: 1;
}

.is-sticky {
  z-index: 2!important;
  background-color: var(--ls-primary-background-color);
  border-bottom: 1px dotted var(--ls-border-color);
}

.is-sticky :is(h1,h2,h3,h4,h5)::before {
  position: absolute;
  top: 1px;
  left: -44px;
  content: '\ec9c\0020';
  display: inline-block;
  font-family: tabler-icons;
  color: var(--ls-link-text-color);
}
