.will-stick > .flex-row {
    position: sticky;
    top: var(--sticky-headers-top);
    z-index: 1;
    background-color: var(--ls-primary-background-color);
}

.will-stick .is-sticky {
    z-index: 2;
    border-bottom: 1px dotted var(--ls-border-color);
    height: 2.2em;
}

.is-sticky::before {
    position: absolute;
    top: 0;
    content: '\ec9c\0020';
    display: inline-block;
    font-family: tabler-icons;
    font-size: 1.4em;
    color: var(--ls-link-text-color);
}

.will-stick[level='2'] .is-sticky::before,
.will-stick[level='3'] .is-sticky::before,
.will-stick[level="4"] .is-sticky::before {
    content: '\ea61';
}

.is-sticky :is(h1, h2, h3, h4, h5) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    border: 0;
    font-size: 1.1em !important;
    transform: none !important;
}

.is-sticky > div:first-child {
    visibility: hidden;
}

.is-sticky .block-body {
    visibility: hidden;
}

.will-stick > div > div:first-child * {
    transition: none;
}

/* hide bullets threading lines */
.is-sticky > .block-content-wrapper::before {
    display: none;
}
